<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sciatta.dev.java.database.cache.dao.UserMapper">

    <!-- 开启 mybatis Ehcache cache -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache> -->

    <resultMap id="BaseResultMap" type="com.sciatta.dev.java.database.cache.model.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <select id="find" resultType="com.sciatta.dev.java.database.cache.model.User">
        select *
        from users
        where id = #{id}
    </select>

    <select id="list" resultType="com.sciatta.dev.java.database.cache.model.User">
        select *
        from users
    </select>

    <delete id="delete">
        delete
        from users
        where id = #{id}
    </delete>

    <update id="update">
        update users
        set name = #{name}
        where id = #{id}
    </update>

</mapper>
